.homepage {
  background-color: rgb(199, 224, 238);
}

.home_products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(280px, 1fr));
  margin-top: 2.5rem;
  column-gap: 0.5rem;
  row-gap: 1rem;
  padding: 1rem;
}

.home_products .home_product_card {
  border-radius: 10px;
  width: 280px;
  height: 420px;
  margin-left: 1rem;
  padding: 1rem;
  /* background-color: rgb(204, 227, 240); */
}

.home_product_card .home_card_content {
  padding: 20px;
  /* text-align: center; */
}

.home_product_img {
  width: 250px;
  height: 230px;
  object-fit: contain;
  /* object-position: left; */
  /* border-radius: 10px; */
}

/* .product_link {
  text-decoration: none;
} */
